<% provide(:title, current_user.fullname) %>

<div class="d-flex">
  <%= render 'auth/shared/widget' %>

  <div class="form-registration-wrapper col-5">
   <!--  <div class="info sticky-message">
      <%= open_iconic 'icon ic-white', :info %>
      Your profile is incomplete, please finish to start receiving bookings.
    </div> -->
    <div class="form-registration-wrapper__body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-row">
        <%= f.input :first_name, required: true, autofocus: true, wrapper_html: { class: 'col' }, input_html: { class: ("is-invalid" if resource.errors[:first_name].any?) } %>
        <%= f.input :last_name, required: true, wrapper_html: { class: 'col' }, input_html: { class: ("is-invalid" if resource.errors[:last_name].any?) } %>
      </div>
      <%= f.input :phone, input_html: { class: ("is-invalid" if resource.errors[:phone].any?) } %>
      <%= f.input :email, required: true, input_html: { class: ("is-invalid" if resource.errors[:email].any?) } %>
      <div class="d-flex justify-content-between">
        <%= f.input :avatar, as: :file, label: 'Profile picture', input_html: { class: 'form-control' }, wrapper_html: { class: nil } %>
        <div class="">
          <%= image_tag(current_user.avatar.url, width: '82px', height: '82px') %>
        </div>
      </div>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: ("is-invalid" if resource.errors[:current_password].any?) } %>
      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: ("is-invalid" if resource.errors[:password].any?) } %>
      <%= f.input :password_confirmation, required: false, input_html: { class: ("is-invalid" if resource.errors[:password_confirmation].any?) } %>
      
      <%= f.button :submit, "Update" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>